/* #row-name {
    align-self: center;
} */

/* #col-set{
    margin-left: 50px;
    position: relative;
    text-align: left;
} */

/* #col-nama {
    text-align: left;
    float: left;
} */

/* #col-username {
    float: right;
} */

p{
    margin-left: 30px;
    margin-right: 0px;
    font-family: Roboto;
}

#label-nama, #label-user , #label-kelamin, #label-phone{
    margin-left: 30px;
}
#label-desk {
    margin-left: 41%;
    margin-top: 20px;
}

#isi-desk {
    margin-right: 30px;
    font-weight: lighter;
    
}

#isi-data {
    font-weight: lighter;
}

#card-desk {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

a {
    color: #0096C7;
}
