:root{
    --color-A-0: #5ddfff;
    --color-A-1: #6ce2ff;
    --color-A-2: #8ce8ff;
    --color-A-3: #9deaff;
    --color-A-4: #aceeff;
    --color-A-5: #bef2ff;
    --color-A-6: #cdf5ff;
    --color-A-7: #dff9ff;
    --color-A-8: #effcff;
    --color-A-9: #f4fdff;
}