:root{
    counter-reset: body_child__y_grid_pos;
}

body{
    background: rgb(140,232,255)!important;
    /*background: linear-gradient(180deg, rgba(140,232,255,1) 0%, rgba(244,253,255,1) 100%);*/
}


/*noinspection CssOverwrittenProperties*/
#content{
    /*background-color: lightgrey;*/
    transition: margin 500ms ease-in-out;
    margin: 10px clamp(12px, 12vw, 200px);
    margin: 10px calc(80px + 80 * (100vw - 992px) / (1350 - 992));
}


/* media_margin */
@media only screen and (max-width: 992px) {
    #content{
        margin: 10px clamp(12px, 8vw, 150px);
    }
}

@media only screen and (max-width: 800px) {
    #content{
        margin: 10px clamp(12px, 5vw, 150px);
    }
}

@media only screen and (max-width: 700px) {
    #content{
        margin: 10px clamp(12px, 2vw, 150px);
    }
}


#head{
    /*background-color: darkgray;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#nama-toko-dan-perusahaan{
    text-align: center;
    font-family: "Tisa Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


#body{
    --edit-btn-size: clamp(15px, max(5vh, 4vw), 30px);
    /*--edit-btn-size: auto;*/

    --min_row_col_1_size: 220px;
    --max_row_col_1_size: 350px;
    --row_col_1_size: clamp(var(--min_row_col_1_size), 30vw, var(--max_row_col_1_size));

    --min_row_2_height: 60px;
    --max_row_2_height: 115px;
    --row_2_height-temp: clamp(var(--min_row_2_height), 17vh, var(--max_row_2_height));
    --row_2_height: min(calc(var(--row_col_1_size) * 90 / 250),  var(--row_2_height-temp));

    --row_3_height: clamp(35px, calc(var(--row_2_height) * 1 / 2), 47px);


    /*background-color: #0c63e4;*/
    display:grid;
    grid-template-columns: var(--row_col_1_size) auto;
    grid-template-rows: var(--edit-btn-size) var(--row_col_1_size) var(--row_2_height) var(--row_3_height);
    grid-gap: 12px 12px;
}

#control_btn_container{
    grid-column: span 2;
    display: flex;
    justify-content: right;
}


#informasi_umum{
    grid-column: 2;
    grid-row: span 3;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 12px 12px;
}

#informasi_umum .atas{
    display: grid;
    padding: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1.5em 2fr auto 3fr;
}

#informasi_umum .atas .dummy{
    grid-column: span 3;
}

#informasi_umum .atas *:not(.dummy){
    text-align: center;
}

#informasi_umum .atas .header{
    color: #9b9b9b;
    font-size: 0.95em;
    font-weight: bold;
    font-family: 'Tisa Sans Pro', Helvetica, Arial, sans-serif;
    /*font-family: 'Quicksand', Georgia, 'Times New Roman', Times, serif;*/
}

#informasi_umum .atas .value{
    color: orangered;
    font-size: 1.3em;
    font-weight: 900;
    font-family: 'Quicksand Bold', 'Quicksand', Georgia, 'Times New Roman', Times, serif;
}

/*#informasi_umum .atas .meta{
    color: #9b9b9b;
    font-size: 0.8em;
    font-weight: normal;
    font-family: 'Quicksand', 'Quicksand', Georgia, 'Times New Roman', Times, serif;
}*/



#informasi_umum .tengah{
    padding: 10px 10px;

    font-size: 15px;
    transition: font-size 1s ease-in-out;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 3fr auto 2fr auto 2fr auto 2fr auto 3fr;
    grid-column-gap: 17px;
    grid-row-gap: 2px;
}


#informasi_umum .tengah .dummy{
    grid-column: span 2;
}



#informasi_umum .bawah{
    transition: font-size 1s ease-in-out;

    display: grid;
    padding: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto;
    grid-gap: 3px 10px;
    font-size: 15px;
}


#informasi_umum .bawah .div-kiri, #informasi_umum .bawah .div-kanan{
    --informasi_umum-bawah-column-1: auto;
    --informasi_umum-bawah-column-2: 1fr;

    display: grid;
    grid-template-columns: var(--informasi_umum-bawah-column-1) var(--informasi_umum-bawah-column-2);
    grid-template-rows: 5fr 1.2em max(2px, 4fr) repeat(3, auto) 5fr;
    grid-gap: 3px 10px;
    font-size: 0.9em;
}

#informasi_umum .bawah .progress{
    grid-column: span 2;
    margin-top: 5px;
}
#informasi_umum .bawah .progress .progress-label {
    font-weight: bold;
    text-shadow: 0 0 3px white;
}

#informasi_umum .bawah span{
    display: block;
}

#informasi_umum .bawah .header{
    font-weight: bold;
    font-size: 1.1em;
    grid-column: span 2;
    font-family: "Quicksand Bold", 'Quicksand', Georgia, 'Times New Roman', Times, serif;
}

#informasi_umum .bawah .dummy{
    grid-column: span 2;
}




@media only screen and (max-width: 740px) {
    #informasi_umum .bawah .div-kiri, #informasi_umum .bawah .div-kanan{
        grid-template-columns: 1fr;
        grid-row-gap: 1px;
    }

    #informasi_umum .bawah .label{
        display: none;
    }

    #informasi_umum .bawah .jumlah_lembar::after{
        content: '  lembar';
    }

    #informasi_umum .bawah .dummy, #informasi_umum .bawah .header{
        grid-column: span 1;
    }
}




#entrepreneur_account_information_container{
    --photo-profile-size: 30;

    display: grid;
    grid-template-columns: clamp(40px, 30%, 85px) minmax(0, 1fr);
    grid-template-rows: 1fr;
}


.entrepreneur_photo_profile_container{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
}



.entrepreneur_additional_information_container{
    display: flex;
    align-items: center;
    padding-left: clamp(5px, 6%, 15px);
}


.entrepreneur_additional_information_wrapper{
    max-width: 100%;
}




#photos_container{

}


#description_container{
    grid-column: span 2;
    padding: 10px;
}

#comment_container{
    grid-column: span 2;
}


#foot{
    /*background-color: #6f94c6;*/
}


.white_box{
    background-color: rgba(255, 255, 255, 0.75);
    padding: 4px;
    /*background-color: #DFF9FF;*/

    border-radius: 5px;
}


.shadowed_box_1{
    --shadowed-box-1-x-offset: 1px;
    --shadowed-box-1-y-offset: 1px;
    --shadowed-box-1-blur: 2px;
    --shadowed-box-1-spread: 0px;
    --shadowed-box-1-color: rgba(0,0,0,0.05);
    --shadowed-box-1-complete: var(--shadowed-box-1-x-offset) var(--shadowed-box-1-y-offset) var(--shadowed-box-1-blur) var(--shadowed-box-1-spread) var(--shadowed-box-1-color);

    box-shadow: var(--shadowed-box-1-complete);
    -webkit-box-shadow: var(--shadowed-box-1-complete);
    -moz-box-shadow: var(--shadowed-box-1-complete);
}


.red_box{
    background-color: rgb(199, 42, 46);
    padding: 4px;
    /*background-color: #DFF9FF;*/

    border-radius: 5px;
}


.shadowed_box_2_clickable{
    --shadowed-box-2-x-offset: 1px;
    --shadowed-box-2-y-offset: 1px;
    --shadowed-box-2-blur: 2px;
    --shadowed-box-2-spread: 0px;
    --shadowed-box-2-color: rgba(0,0,0,0.25);
    --shadowed-box-2-color-clicked: rgba(0,0,0,0.15);
    --shadowed-box-2-complete: var(--shadowed-box-2-x-offset) var(--shadowed-box-2-y-offset) var(--shadowed-box-2-blur) var(--shadowed-box-2-spread) var(--shadowed-box-2-color);

    --shadowed-box-2-transition-time: 100ms;

    transition: box-shadow var(--shadowed-box-2-transition-time) ease-in-out,
                transform var(--shadowed-box-2-transition-time) ease-in-out,
                box-shadow var(--shadowed-box-2-transition-time) ease-in-out;

    box-shadow: var(--shadowed-box-2-complete);
    -webkit-box-shadow: var(--shadowed-box-2-complete);
    -moz-box-shadow: var(--shadowed-box-2-complete);
}

.shadowed_box_2_clickable:active{
    box-shadow: 0 0 2px var(--shadowed-box-2-spread) var(--shadowed-box-2-color-clicked);
    transform: translate(var(--shadowed-box-2-x-offset), var(--shadowed-box-2-y-offset));
}





#company_photos_carousel .carousel-item-inner-wrapper-1{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#company_photos_carousel .carousel-item-inner-wrapper-2{
    display: grid;
    height: 90%;
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-radius: 5px;
    overflow:hidden;  /* act like a `background-clip` for the filter blur */
}

#company_photos_carousel .carousel-item-inner-wrapper-2>*{
    grid-row-start: 1;
    grid-column-start: 1;
    border-radius: 5px;
}

.company_photos_carousel_item_img{
    background-image: var(--company_photos_carousel_background_img);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;

    --ffilter: blur(0);
    filter: var(--ffilter)!important;
    -webkit-filter: var(--ffilter)!important;
}


#company_photos_carousel .carousel-item .carousel-item-extra-background{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    --filter: blur(1px);
    filter: var(--filter);
    -webkit-filter: var(--filter);

}


/* repeated selectors to increase its priority */
.carousel-adaptive-background-component.carousel-adaptive-background-component{
    --background-image-transition: background-image 0.3s ease-in-out;
    -webkit-transition: var(--background-image-transition);
    transition: var(--background-image-transition);

    --filter: invert(100%);
    filter: var(--filter);
    -webkit-filter: var(--filter);
}


.proposal_startinvest_container{
    --default-display: grid;
    --proposal-container-padding: 6px;

    padding: 0;
    background-color: unset;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
}
/*.proposal_startinvest_container > div{*/
/*    filter: drop-shadow(var(--shadowed-box-2-complete));*/
/*}*/


.download_proposal_container{
    grid-row: 1;
    grid-column: 1;

    /*background-color: rgb(255, 188, 164);*/
    /*background-color: var(--bs-info);*/

    /*color: whitesmoke;*/
    /*background-color: var(--bs-primary);*/

    --download-proposal-font-color: #ffffff;
    color: var(--download-proposal-font-color);
    background-color: var(--bs-primary);


    /*clip-path: url(#clip_path_1--static);*/
    clip-path: ellipse(50% 160% at 0% 50%);

    cursor: pointer;

    z-index: 12;
    display: var(--default-display);
    padding: var(--proposal-container-padding);
    grid-template-columns: minmax(auto, calc(var(--row_3_height) - 2 * var(--proposal-container-padding))) 1fr;
    grid-template-rows: 1fr;
    transition: background-color 300ms ease-in-out, filter 300ms ease-in-out, clip-path 300ms ease-in-out;
    /*transition: clip-path 1s;*/
}
.download_proposal_container:hover,
.proposal_only.proposal_startinvest_container .download_proposal_container{
    /*background-color: #23d6ff;*/
    z-index: 100;
    filter: brightness(1.17);
    cursor: pointer;
    /*clip-path: url(#clip_path_1--animate);*/
    clip-path: ellipse(140% 110% at 0% 50%);;
}

.halaman-invest-hover .download_proposal_container{
    clip-path: ellipse(0% 160% at 0% 0%);
}

.start_invest_container{

    grid-row: 1;
    grid-column: 1;
    --default-display: grid;
    --proposal-container-padding: 6px;

    --start-invest-font-color: #bb3c00;
    color: var(--start-invest-font-color);
    background-color: #9bff8a;
    cursor: pointer;

    z-index: 7;
    display: var(--default-display);
    padding: var(--proposal-container-padding);
    grid-template-columns: 1fr minmax(auto, calc(var(--row_3_height) - 2 * var(--proposal-container-padding)));
    grid-template-rows: 1fr;
    transition: background-color 300ms ease-in-out, filter 300ms ease-in-out;
}
.start_invest_container:hover{
    filter: brightness(1.17);
}

.proposal_startinvest_container.proposal_download_mobile_mode{
    display: none;
}

.download_proposal__goto_startinvest__icon{
    min-width: 0;
    min-height: 0;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    flex-shrink: 1;
}

.download_proposal__goto_startinvest__icon .proposal-startinvest-icon-svg{
    height: 90%;
    width: 90%;

    /*width: 1em;*/
    /*height: 1em;*/
    /*vertical-align: -.125em;*/
    transform: skewX(5deg);
    filter: invert(0%);

    -webkit-mask: var(--mask-image) no-repeat;
    mask: var(--mask-image) no-repeat;
    background-color: var(--download-proposal-font-color);
}

.start_invest_container .proposal-startinvest-icon-svg{
    height: 90%;
    width: 90%;

    transform: skewX(0deg);
    filter: invert(0%);

    -webkit-mask: var(--mask-image) no-repeat;
    mask: var(--mask-image) no-repeat;
    background-color: var(--start-invest-font-color);
}

.download_proposal__goto_startinvest__icon .proposal-icon{
}

.download_proposal_startinvest_text_wrapper{
    padding-left: clamp(10px, 8%, 15px);
    display: flex;
    align-items: center;
}

.download_startinvest_text{
    margin:0;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.download_proposal_container:hover .download_startinvest_text{
    opacity: 100%;
}

.start_invest_container:hover .download_startinvest_text,
.proposal_only.proposal_startinvest_container .download_startinvest_text{
    opacity: 100%;
}


.start_invest_container .download_proposal_startinvest_text_wrapper{
    padding-right: clamp(10px, 8%, 15px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.start_invest_container .download_proposal_startinvest_text_wrapper .download_startinvest_text{
}

.start_invest_container .proposal-startinvest-icon-svg svg{
    color: red;
}



@media only screen and (max-width: 800px) {
    .download_startinvest_text{
        font-size: calc(0.90 * 16px + (100vw - 550px) / (800 - 550) * 0.25 * 16);
    }

    #entrepreneur_account_information_container .h4{
        font-size: calc(1em + 0.5vw);
    }
    #entrepreneur_account_information_container .h6{
        font-size: calc(0.95em + 0.4vw);
    }
}

@media only screen and (max-width: 900px){
    #informasi_umum .tengah{
        font-size: 12px;
    }
    #informasi_umum .bawah{
        font-size: 12px;
    }
}

@media only screen and (max-width: 1000px){
    #informasi_umum .tengah{
        font-size: 13px;
    }
    #informasi_umum .bawah{
        font-size: 13px;
    }
}




/* Mobile parts */
@media only screen and (max-width: 640px) {
    #body{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    #body > div{
        --mobile-bottom-margin: 2px;
        margin-bottom: var(--mobile-bottom-margin);
    }

    #photos_container{
        height: clamp(30vh, 90vw, 45vh);
    }

    .download_startinvest_text{
        font-size: 1.1em;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    #company_photos_carousel .carousel-inner{
        aspect-ratio: 1 / 1;
        height: 100%;
        width: unset;
        margin: auto;
    }

    .carousel-control-next,
    .carousel-control-prev /*, .carousel-indicators */ {
        filter: invert(100%);
    }

    #entrepreneur_account_information_container .h4{
        font-size: calc(1.1em + 0.4vw);
    }

    #informasi_umum{
        display: flex;
        flex-direction: column;
    }

    #informasi_umum > div{
        margin: var(--mobile-bottom-margin);
    }

    #informasi_umum .atas{
        grid-template-rows: auto auto;
        align-items: center;
    }


    .proposal_startinvest_container.proposal_download_mobile_mode{
        display: var(--default-display);
    }


    .proposal_startinvest_container.proposal_download_desktop_mode{
        display: none;
    }


    /* Dibawah ini khusus untuk masalah urutan */
    #photos_container{ /* carousel foto */
        order: 1;
    }

    #entrepreneur_account_information_container{  /* informasi akun pengusaha */
        order: 2;
    }


    #informasi_umum{
        order: 4;
    }

    #description_container{
        order: 5;
    }
}


@media only screen and (max-width: 400px){
    /*noinspection CssOverwrittenProperties*/
    #informasi_umum .atas{
        font-size: 12px;
        font-size: calc(9px + 5 * (100vw - 250px) / (400 - 250));
    }

    #entrepreneur_account_information_container .h3{
        font-size: calc(1em + 0.2vw);
    }
    #entrepreneur_account_information_container .h6{
        font-size: calc(0.85em + 0.2vw);
    }
}
