:root{
    counter-reset: body_child__y_grid_pos;

}

body{
    background: rgb(140,232,255);
    background: linear-gradient(180deg, rgba(140,232,255,1) 0%, rgba(244,253,255,1) 100%);
}


#content{
    /*background-color: lightgrey;*/
    transition: margin 50ms ease-in-out;
    margin: 10px clamp(12px, 12vw, 200px);
}

@media only screen and (max-width: 992px) {
    #content{
        /*background-color: lightgrey;*/
        margin: 10px clamp(12px, 8vw, 150px);
    }
}

@media only screen and (max-width: 600px) {
    #content{
        margin: 10px clamp(12px, 2vw, 150px);
    }
}


#head{
    /*background-color: darkgray;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#nama-toko-dan-perusahaan{
    text-align: center;
}


#body{
    --edit-btn-size: clamp(15px, max(5vh, 4vw), 30px);
    /*--edit-btn-size: auto;*/

    --min_row_col_1_size: 170px;
    --max_row_col_1_size: 350px;
    --row_col_1_size: clamp(var(--min_row_col_1_size), 30vw, var(--max_row_col_1_size));

    --min_row_2_height: 60px;
    --max_row_2_height: 115px;
    --row_2_height-temp: clamp(var(--min_row_2_height), 17vh, var(--max_row_2_height));
    --row_2_height: min(calc(var(--row_col_1_size) * 90 / 250),  var(--row_2_height-temp));


    /*background-color: #0c63e4;*/
    display:grid;
    grid-template-columns: var(--row_col_1_size) auto;
    grid-template-rows: var(--edit-btn-size) var(--row_col_1_size) var(--row_2_height);
    grid-gap: 12px 12px;
}

#control_btn_container{
    grid-column: span 2;
    display: flex;
    justify-content: right;
}


#body-1-2{
    grid-column: 2;
    grid-row: span 2;
}


#entrepreneur_account_information_container{
    --photo-profile-size: 30;

    display: grid;
    grid-template-columns: clamp(40px, 30%, 85px) 1fr;
    grid-template-rows: 1fr;
}


.entrepreneur_photo_profile_container{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
}



.entrepreneur_additional_information_container{
    display: flex;
    align-items: center;
    padding-left: clamp(5px, 6%, 15px);
}


.entrepreneur_additional_information_wrapper{

}




#photos_container{

}


#description_container{
    grid-column: span 2;
    padding: 10px;
}

#comment_container{
    grid-column: span 2;
}


#foot{
    /*background-color: #6f94c6;*/
}


.white_box{
    background-color: rgba(255, 255, 255, 0.75);
    padding: 4px;
    /*background-color: #DFF9FF;*/


    border-radius: 5px;

}


.shadowed_box_1{
    --shadowed-box-1-x-offset: 1px;
    --shadowed-box-1-y-offset: 1px;
    --shadowed-box-1-blur: 2px;
    --shadowed-box-1-spread: 0px;
    --shadowed-box-1-color: rgba(0,0,0,0.11);
    --shadowed-box-1-complete: var(--shadowed-box-1-x-offset) var(--shadowed-box-1-y-offset) var(--shadowed-box-1-blur) var(--shadowed-box-1-spread) var(--shadowed-box-1-color);

    box-shadow: var(--shadowed-box-1-complete);
    -webkit-box-shadow: var(--shadowed-box-1-complete);
    -moz-box-shadow: var(--shadowed-box-1-complete);
}

#company_photos_carousel .carousel-item-inner-wrapper-1{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#company_photos_carousel .carousel-item-inner-wrapper-2{
    display: grid;
    height: 90%;
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-radius: 5px;
    overflow:hidden;  /* act like a `background-clip` for the filter blur */
}

#company_photos_carousel .carousel-item-inner-wrapper-2>*{
    grid-row-start: 1;
    grid-column-start: 1;
    border-radius: 5px;
}

.company_photos_carousel_item_img{
    background-image: var(--company_photos_carousel_background_img);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;

    --ffilter: blur(0);
    filter: var(--ffilter)!important;
    -webkit-filter: var(--ffilter)!important;
}


#company_photos_carousel .carousel-item .carousel-item-extra-background{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    --filter: blur(1px);
    filter: var(--filter);
    -webkit-filter: var(--filter);

}


/* repeated selectors to increase its priority */
.carousel-adaptive-background-component.carousel-adaptive-background-component{
    --background-image-transition: background-image 0.3s ease-in-out;
    -webkit-transition: var(--background-image-transition);
    transition: var(--background-image-transition);

    --filter: invert(100%);
    filter: var(--filter);
    -webkit-filter: var(--filter);
}

