#my-toast .toast-body{
    border-radius: 4px;
}

.toast.error-msg .toast-body{
    /*background-color: #ffc9c9;*/
    /*text-shadow: 0px 0px 1px white;*/
    background-color: #ffc5c5;
    color: black;
}

.toast.success-msg .toast-body{
    background-color: #afedfb;
    color: black;
}