{% load static %}


<html>
    <head>
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
        <link rel="stylesheet" href="{% static 'fontawesome 4.7/css/font-awesome.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/halaman_toko_layout.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/halaman_toko_component.css' %}"/>
        <title>{{ company.nama_merek }}</title>
    </head>
    <body>
        <div id="content">
            <div id="head">
                <div id="nama-toko-dan-perusahaan">
                    <span class="h2 d-block text-primary" id="nama_merk">
                        {{ company.nama_merek }}
                    </span>
                    <span class="h4 d-block text-secondary" id="nama_perusahaan">
                        {{ company.nama_perusahaan }}
                    </span>
                </div>
            </div>


            <div id="body">
                <div id="edit_btn_container" >
                    <button id="edit_btn"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                </div>
                <div id="photos_container" class="white_box shadowed_box_1">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            {% for image in company_photos %}

                                <div class="carousel-item {% if image.img_index == 0 %}active{% endif %}">
                                    <img class="d-block w-100" src="{{ image.img.url }}" alt="First slide">
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div id="body-1-2" class="white_box shadowed_box_1"></div>
                <div id="invest_information_container" class="white_box shadowed_box_1"></div>

                <div id="description_container" class="white_box shadowed_box_1">
                    <span class="h5">
                        deskripsi
                    </span>
                    <div>
                        {{ company.deskripsi|linebreaksbr }}
                    </div>
                </div>

                <div id="comment_container" class="white_box shadowed_box_1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum convallis mollis. Etiam vel nunc dignissim, sagittis tortor eu, eleifend enim. Proin varius magna risus, in tristique tortor consequat vel. Maecenas ullamcorper ligula nisi, vel imperdiet mi pharetra suscipit. Quisque eleifend viverra justo, ac faucibus eros dignissim sit amet. Cras feugiat tortor lorem, et commodo nunc sagittis eu. Duis velit nisl, bibendum at quam sed, ultrices finibus risus. Donec lobortis, elit non faucibus accumsan, ipsum justo dignissim dolor, eget varius mi orci eu enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Duis varius augue enim, rutrum semper mauris dapibus et. Mauris orci libero, facilisis et vehicula eu, semper sed urna. Quisque libero orci, blandit vel facilisis id, interdum id nunc.

                </div>
            </div>


            <div id="foot">
                foot
            </div>
        </div>
    </body>
</html>