{% load static %}


<html>
    <head>
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/halaman_toko_component.js' %}"></script>
        <script src="{% static 'fontawesome 5.15/attribution.js' %}"></script>
{#        <link rel="stylesheet" href="{% static 'fontawesome 4.7/css/font-awesome.min.css' %}"/>#}
        <link rel="stylesheet" href="{% static 'fontawesome 5.15/css/all.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/halaman_toko_layout.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/halaman_toko_component.css' %}"/>
        <title>{{ company.nama_merek }}</title>
    </head>
    <body>
        <script>
            company_id = {{ company.id }};
            csrf_token = "{{ csrf_token  }}";
        </script>

        <div id="content">
            <div id="head">
                <div id="nama-toko-dan-perusahaan">
                    <span class="h2 d-block text-primary" id="nama_merk">
                        {{ company.nama_merek }}
                    </span>
                    <span class="h4 d-block text-secondary" id="nama_perusahaan">
                        {{ company.nama_perusahaan }}
                    </span>
                </div>
            </div>


            <div id="body">
                <div id="control_btn_container" class=""> <!--go_to_edit_mode, go_to_save_mode-->
                    <button id="photo_edit_btn" class="control_btn">
                        <i class="fa fa-file-image" aria-hidden="true"></i>
                    </button>
                    <button id="edit_btn" class="control_btn">
                        <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                    </button>
                    <button id="save_btn" class="control_btn">
                        <i class="fas fa-save"></i>
                    </button>
                </div>


                <div id="photos_container" class="white_box shadowed_box_1">
                    <div id="company_photos_carousel" class="carousel  slide" data-bs-ride="carousel">

                        <div class="carousel-indicators">
                            {% for image in company_photos %}
                                <button type="button" data-bs-target="#company_photos_carousel"
                                        data-bs-slide-to="{{ forloop.counter0 }}"
                                        class="carousel-adaptive-background-component {% if image.img_index == 0 %}active{% endif %}"
                                        aria-current="true" aria-label="Slide {{ forloop.counter }}"
                                        style=""
                                ></button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner h-100">
                            {% for image in company_photos %}
                                <div class="carousel-item {% if image.img_index == 0 %}active{% endif %}">
                                    <div class="carousel-item-inner-wrapper-1">
                                    <div class="carousel-item-inner-wrapper-2">
                                        <div class="carousel-item-extra-background">

                                        </div>
                                        <div class="d-block w-100 company_photos_carousel_item_img"
                                             style="--company_photos_carousel_background_img: url('{{ image.img.url }}');" alt="First slide">
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev"
                                type="button" data-bs-target="#company_photos_carousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next"
                                type="button" data-bs-target="#company_photos_carousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>

                <div id="body-1-2" class="white_box shadowed_box_1"></div>
                <div id="invest_information_container" class="white_box shadowed_box_1"></div>

                <div id="description_container" class="white_box shadowed_box_1">
                    <span class="h5">
                        deskripsi
                    </span>

                    {% comment %} no need |linebreaksbr because we have handled it in the css {% endcomment %}
                    {% comment %} harus dalam baris yang sama karena whitespace tidak diabaikan oleh css tersebut {% endcomment %}
                    <div id="company_description" onfocusout="company_description_KeyPress();">{{ company.deskripsi }}</div>
                </div>

                <div id="comment_container" class="white_box shadowed_box_1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum convallis mollis. Etiam vel nunc dignissim, sagittis tortor eu, eleifend enim. Proin varius magna risus, in tristique tortor consequat vel. Maecenas ullamcorper ligula nisi, vel imperdiet mi pharetra suscipit. Quisque eleifend viverra justo, ac faucibus eros dignissim sit amet. Cras feugiat tortor lorem, et commodo nunc sagittis eu. Duis velit nisl, bibendum at quam sed, ultrices finibus risus. Donec lobortis, elit non faucibus accumsan, ipsum justo dignissim dolor, eget varius mi orci eu enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Duis varius augue enim, rutrum semper mauris dapibus et. Mauris orci libero, facilisis et vehicula eu, semper sed urna. Quisque libero orci, blandit vel facilisis id, interdum id nunc.

                </div>
            </div>


            <div id="foot">
                foot
            </div>
        </div>



        {% comment %}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Launch static backdrop modal
        </button>{% endcomment %}



        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Edit Page</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="editing_form">




                        <form method="post">

                            <span class="h4">deskripsi</span> <br>
                            {{ edit_form.deskripsi }}
                        </form>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Understood</button>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>