@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.bizzvest_footer .logo_footer{
    width: 98,5px !important; 
    height: 60px !important;
    padding-bottom: 0px !important;
}

body.bizzvest_footer{
    background-color: #8CE8FF;
}

.bizzvest_footer a{
    font-family: 'DM Sans', sans-serif !important;
}