@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.navbar_tito a{
    color: #0096C7 !important;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

nav.navbar_tito{
    background-color: #8CE8FF;
}

.navbar_tito .btn{
    background: rgba(255, 255, 255, 0.25) !important; 
    border-radius: 10px !important;
    border: none !important;
    color: #0096C7 !important;
    font-family: 'Oswald', sans-serif !important;
    font-size: 25px !important;
}

.navbar_tito .dropdown-menu[data-bs-popper] {
    left: unset;
    top: 100%;
    right: 0;
    margin-top: 0.9rem;
}

.navbar_tito .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.25);
}