/* #row-name {
    align-self: center;
} */

#col-set{
    margin-left: 40px;
}

p{
    margin-left: 30px;
}

#kolom-desk {
    margin-right: 20px;
}

.vertical {
    border-left: 3px solid black;
    height: 200px;
    position:absolute;
    left: 50%;
}